* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(33, 33, 33);
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

h1,
p {
  text-align: center;
  color: aliceblue;
  font-size: 1.6rem;
}

.spread {
  text-align: center;
  color: aliceblue;
  margin-bottom: 10px;
  font-size: 1.2rem;
  display: inline-block;
  margin: 15px;
  padding: 15px;
  
}

#bestScore,
#score {
  font-size: 1.6em;
  color: black;
  padding: 5px;
  margin: 2px;
  background-color: white;
}

.message {
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
  font-size: 1.2rem;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  padding: 30px;
  justify-items: center;
}

img {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.card {
  width: fit-content;
  height: 0 auto;
  color: white;
  align-items: center;

  /* display: block; */
}

.carded {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: 0 auto;

  transition: transform 0.2s;
}

@media (max-width: 425px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1em;
    padding: 15px;
  }

  .img {
    width: 80%;
    height: 60%;
  }
}
